*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Custom properties */
:root {
    /* Primary must be monospace */
    --ff-primary: 'Ubuntu Mono', monospace;
    --ff-secondary: 'Ubuntu', sans-serif;

    --fw-reg: 300;
    --fw-bold: 700;

    --clr-light: #fff;
    --clr-dark: #232528;
    --clr-dark-2: #515052;
    --clr-dark-3: #0B0C10;
    --clr-accent: #59c3c8;
    --clr-accent-2: #ede580;
    --clr-accent-3: #ce5432;
    --clr-accent-4: #ffafc5;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-dynamic: clamp(1rem, 3.5vw + 1rem, 4rem);
    --fs-dynamic-smaller: clamp(1rem, 1vw + 1rem, 4rem);

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.25);

    /* Sticky Parallax Sections */
    --scale: 0.1;

    /* Landing typer */
    --lander-len: 1;
    --typer1-len: 1;
    --typer2-len: 1;
    --typer1-speed: 1.5s;
    --typer2-speed: 2.5s;
    --backspace-speed: .8s;
}

@media (prefers-reduced-motion) {
    :root {
      --scale: 0;
    }
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .5);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .25)
}

@supports (scrollbar-color: rgba(255, 255, 255, .5)) {
    * {
        scrollbar-color: rgba(255, 255, 255, .5) transparent;
        scrollbar-width: thin;
    }
}


/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background: #000;
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold); }

a {
    color: var(--clr-accent-3);
}

/* :focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
} */

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(1.1);
}


/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.section__title {
    margin-bottom: 0.25em;
}

.lander__title,
.lander__title--before,
.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0 auto;
    font-size: var(--fs-h3);
}

.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    border-radius: 5px;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* Glass style */
.glass {
    /* box-shadow: var(--bs); */
    background: rgba(255, 255, 255, .1);
    /* border-top: 1px solid rgba(255, 255, 255, .1);
    border-left: 1px solid rgba(255, 255, 255, .1); */
    backdrop-filter: blur(5px);
}



/* Header */

.header2 {
    justify-content: center;
    align-items: center;
    height: 3em;
}

.nav2 {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition:
        transform 250ms linear;
}

.nav2__list {
    list-style: none;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 500ms cubic-bezier(.5, 0, .5, 1);
}

.nav2__item {
    display: inline-block;
    padding: 1em;
}

.nav2__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
    text-transform: uppercase;
}

.nav2__link:hover {
    color: var(--clr-accent);
}

.nav-open .nav2__list {
    padding: 2em;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 50px;
}

.nav {
    position: fixed;
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1.5em;
    z-index: 1000;
    pointer-events: none;
}

.nav-open .nav {
    transform: translateX(50%);
}

@media (min-width: 600px) {
    .nav-open .nav {
        transform: translateX(70%);
    }
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: none;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: #fff;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

.nav-toggle:hover .hamburger,
.nav-toggle:hover .hamburger::after,
.nav-toggle:hover .hamburger::before {
    background: var(--clr-accent);
}


@media  (max-width: 600px) {
    .nav-open .nav2 {
        transform: none !important;
    }

    .nav-toggle {
        pointer-events: auto;
    }

    .nav2__list {
        position: fixed;
        width: 100%;
        bottom: 100vh;
    }

    .nav-open .nav2__list {
        transform: translateY(100%);
    }

    .nav2__item {
        display: block;
    }

    .nav-open .nav2__item {
        display: block;
    }

    .hamburger {
        display: block;
    }
}


/* Lander */

.lander {
    padding: 0;
    min-height: 100vh;
    background-color: #000;
}

.lander::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 4.7em;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,1)), url(../img/harvey_nyc_nobg.png);
    background-size: contain;
    /* background-blend-mode: difference; */
    background-repeat: no-repeat;
    background-position: center top;
    animation: fadein 2s ease calc(var(--typer1-speed)/var(--typer1-len) * 7 + var(--typer1-speed) + var(--backspace-speed) + 3s + var(--typer2-speed) + .5s) forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.4;
    }
}

.lander__animation {
    position: relative;
    display: flex;
    padding-top: 30vh;
    justify-content: center;
    width: 100%;
    height: 55vh;
}

.lander__typer {
    display: flex;
}

.lander__text {
    font-size: var(--fs-dynamic);
    position: relative;
}

.lander__title-options {
    margin: 0;
    padding: 0;
    height: var(--fs-dynamic);
    overflow: hidden;   
}

.lander__title-options li {
    list-style: none;
    position: relative;
    /* padding-right: .1em; */
    animation:
        switch calc(var(--typer1-speed)/var(--typer1-len) * 7 + var(--typer1-speed) + var(--backspace-speed) + 3s) steps(1) forwards,
        appear calc(var(--typer1-speed)/var(--typer1-len) * 7) steps(1) forwards;
}

@keyframes switch {
    100% {
        top: calc(-1*var(--fs-dynamic));
    }
}

.lander__text::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.lander__text::after {
    content: '';
    position: absolute;
    left: 0;
    background: #fff;
    width: .05em;
    height: 1em;
}

/* Typing for "Hello" */
.lander__head::before {
    animation:
        type2 calc(var(--typer1-speed)/var(--typer1-len) * 7) steps(7) forwards,
        blink 0s steps(1) calc(var(--typer1-speed)/var(--typer1-len) * 7) forwards;
}

.lander__head::after {
    animation:
        type2 calc(var(--typer1-speed)/var(--typer1-len) * 7) steps(7) forwards,
        blink 1s steps(2, start) infinite,
        blink 0s steps(1) calc(var(--typer1-speed)/var(--typer1-len) * 7) forwards;
}

/* Typing for subsequent text */
.lander__option {
    position: relative;
}

.lander__option-1::before {
    animation:
        type1 var(--typer1-speed) steps(6) calc(var(--typer1-speed)/var(--typer1-len) * 7) forwards,
        backspace var(--backspace-speed) steps(var(--typer1-len)) calc(var(--typer1-speed) + var(--typer1-speed)/var(--typer1-len) * 7 + 2s) forwards;
}

.lander__option-1::after {
    animation:
        type1 var(--typer1-speed) steps(var(--typer1-len)) calc(var(--typer1-speed)/var(--typer1-len) * 7) forwards,
        backspace var(--backspace-speed) steps(var(--typer1-len)) calc(var(--typer1-speed) + var(--typer1-speed)/var(--typer1-len) * 7 + 2s) forwards,
        blink 1s steps(2, start) calc(var(--typer1-speed)/var(--typer1-len) * 7) infinite,
        blink 0s steps(1) calc(var(--typer1-speed)/var(--typer1-len) * 7 + var(--typer1-speed) + var(--backspace-speed) + 3s) forwards;
}

.lander__option-2::before {
    animation:
        type2 var(--typer2-speed) steps(var(--typer2-len)) calc(var(--typer1-speed)/var(--typer1-len) * 7 + var(--typer1-speed) + var(--backspace-speed) + 3s) forwards;
}

.lander__option-2::after {
    animation:
        type2 var(--typer2-speed) steps(var(--typer2-len)) calc(var(--typer1-speed)/var(--typer1-len) * 7 + var(--typer1-speed) + var(--backspace-speed) + 3s) forwards,
        blink 1s steps(2, start) infinite;
}

/* Animations */
@keyframes type1 {
    to {
        left: calc(100% * 6/17);
    }
}

@keyframes backspace {
    to {
        left: 0;
    }
}

@keyframes type2 {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@keyframes appear {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

/* Welcome subtitle and continue button */
.lander__continue {
    text-align: center;
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeInUp 1.5s ease calc(var(--typer1-speed)/var(--typer1-len) * 7 + var(--typer1-speed) + var(--backspace-speed) + 3s + var(--typer2-speed) + .5s) forwards;
}

.lander__subtitle {
    padding-bottom: 5vh;
    font-size: var(--fs-dynamic-smaller);    
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.lander__scroll {
    position: absolute;
    left: calc(50% - .9em);
    height: 3em;
    width: 1.8em;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 3em;
    cursor: pointer;
    transition:
        background-color 250ms linear;
}

.lander__scroll:hover {
    background-color: rgba(255, 255, 255, .3);
}

.lander__scroll::before,
.lander__scroll::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: .6em;
    width: .6em;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 2.5s ease-in-out infinite;
}

.lander__scroll::after {
    top: 20%;
    animation-delay: .4s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
        top: 90%;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}


/* Intro section */
/* 
.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        column-gap: 2em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
} */

/* Intro section */
.about-me {
    padding: 0;
    transform-origin: center top;
    transform: scaleY(calc(1 - var(--scale)));
}

.about-me > * {
    transform-origin: center top;
    transform: scaleY(calc(1 / (1 - var(--scale))));
}

.about__body {
    position: relative;
    margin: -50vh auto 4em;
    max-width: 1000px;
    padding: 2em;
    width: calc(100% - 2em);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    /* text-align: center; */
    border-radius: 1em;
}

.about__body > * + * {
    margin-top: 2rem;
}

.about__header {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas:
        "title img"
        "p img";
}

.section__title--about {
    grid-area: title;
}

.about__blurb {
    text-align: justify;
    grid-area: p;
}

.about__header .about__img {
    grid-area: img;
    grid-row: 1 / 3;
    align-self: end;
    justify-self: right;
}

.about__grid {
    display: grid;
    grid-auto-rows: 1fr;
    text-align: left;
}

.about__grid .intro__row {
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-rows: min-content auto;
    grid-template-columns: 70% 15%;
    grid-template-areas:
        "title img"
        "content img";
    grid-column-gap: 3em;
    /* align-items: center; */
    margin-top: 2em;
}

.intro__row--title {
    grid-area: title;
    position: relative;
    text-align: left;
    font-size: 1.8rem;
}

.intro__row--content {
    grid-area: content;
    position: relative;
    margin: 0;
}

.intro__row--img {
    grid-area: img;
    position: relative;
    margin: 0 auto;
    max-height: 55%;
}

.intro__resume {
    padding: 1em;
    text-align: center;
    align-items: center;
}

@media (min-width: 800px) {
    .about__grid .intro__row {
        width: 90%;
        display: grid;
        margin: 0 auto;
        grid-template-rows: auto;
        grid-template-columns: 30% 40% 15%;
        grid-template-areas:
            "title content img";
        grid-column-gap: 3em;
        margin-top: 2em;
    }

    .intro__row--title {
        grid-area: title;
        font-size: 2.4rem;
    }
}

.section__bg {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

.section__bg .bg__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.section__bg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.013) 8.1%,
        rgba(0, 0, 0, 0.049) 15.5%,
        rgba(0, 0, 0, 0.104) 22.5%,
        rgba(0, 0, 0, 0.175) 29%,
        rgba(0, 0, 0, 0.259) 35.3%,
        rgba(0, 0, 0, 0.352) 41.2%,
        rgba(0, 0, 0, 0.45) 47.1%,
        rgba(0, 0, 0, 0.55) 52.9%,
        rgba(0, 0, 0, 0.648) 58.8%,
        rgba(0, 0, 0, 0.741) 64.7%,
        rgba(0, 0, 0, 0.825) 71%,
        rgba(0, 0, 0, 0.896) 77.5%,
        rgba(0, 0, 0, 0.951) 84.5%,
        rgba(0, 0, 0, 0.987) 91.9%,
        rgba(0, 0, 0, 1) 100%
    );
}



/* Skills section */

.my-skills {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
                url(../img/eclipse.jpeg);
    /* background-color: var(--clr-dark-2); */
    /* background-image: url(../img/eclipse.jpeg); */
    background-size: cover;
    background-blend-mode: multiply;
    background-position: top;
    /* background-attachment: fixed; */
    /* TODO: insert parallax effect ^ */
    color: var(--clr-light);
    text-align: center;
    transition: 250ms;
}

/* TODO: make icons tap activated on mobile */

.section__title--skills {
    color: var(--clr-accent);
    position: relative;
}

.section__title--skills::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.skills__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    column-gap: 1em;
    row-gap: 1em;
}

.skills__circle {    
    position: relative;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    font-weight: bold;
    font-size: 50px;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* box-shadow: var(--bs); */
    /* background: rgba(255, 255, 255, .1); */
    /* border-top: 1px solid rgba(255, 255, 255, .5); */
    /* border-left: 1px solid rgba(255, 255, 255, .5); */
    /* backdrop-filter: blur(3px); */
    transform-style: preserve-3d;
    transition:
        background 250ms linear,
        filter 250ms linear;
}

.skills__circle:hover {
    backdrop-filter: none;
    box-shadow: var(--bs);
    background: rgba(255, 255, 255, .1);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
}

.skills__circle:hover .skills__icon {
    filter: grayscale(1) brightness(50%) contrast(400%) invert(100%);
    transform: scale(125%) translateZ(70px);
}

.skills__circle .js-tilt-glare {
    border-radius: 50%;
}

.skills__icon {
    position: relative;
    top: 25%;
    left: 25%;
    height: .8em;
    width: .8em;
    transition: 250ms;
    pointer-events: none;
    z-index: 12;
    transform-style: preserve-3d;
}

.skills {
    position: relative;
    text-align: center;
}

.skills__name {
    width: 100%;
    position: absolute;
    top: 25%;
    align-items: center;
    transition:
        opacity 200ms linear,
        color 200ms,
        transform 200ms cubic-bezier(.5, 0, .5, 1);
    margin: 0 auto;
    font-size: 3.5rem;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}


@media (min-width: 600px) {
    .skills__circle {
        height: 3em;
        width: 3em;
    }

    .skills__icon {
        height: 1.5em;
        width: 1.5em;
    }

    .skills__grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .skills__name {
        font-size: 6rem;
    }
}

@media (min-width: 1200px) {
    .skills__circle {
        height: 4em;
        width: 4em;
    }

    .skills__icon {
        height: 2em;
        width: 2em;
    }

    .skills__grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .skills__name {
        font-size: 10rem;
    }
}

.circle-python:hover { background: rgba(255,207,63,.8); }
.circle-java:hover { background: rgba(226,49,48,.8); }
.circle-c:hover { background: rgba(2,89,156,.8); }
.circle-r:hover { background: rgba(33,101,182,.8); }
.circle-html:hover { background: rgba(228,77,38,.8); }
.circle-css:hover { background: rgba(18,114,182,.8); }
.circle-javascript:hover { background: rgba(240,191,46,.8); }
.circle-node-js:hover { background: rgba(132,203,44,.8); }
.circle-react:hover { background: rgba(96,218,252,.8); }
.circle-matlab:hover { background: rgba(157,65,206,.8); }
.circle-postgresql:hover { background: rgba(50,103,145,.8); }
.circle-git:hover { background: rgba(243,79,41,.8); }
.circle-swift:hover { background: rgba(255,87,38,.8); }
.circle-firebase:hover { background: rgba(251,202,63,.8); }

.courses {
    margin: 0 auto;
    margin-bottom: 4em;
    max-width: 1000px;
}

.skills__list,
.courses__list {
    list-style: none;
    padding-right: 2em;
}



/* My Work */

.my-work {
    background-color: var(--clr-dark-2);
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1) ), url(../img/jellyfish.jpg);
    background-position: center;
    background-size: cover;
    color: var(--clr-light);
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 160px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 80%;
    max-width: 600px;
    height: 300px;
    box-shadow: var(--bs);
    border-radius: 15px;
    background: rgba(0, 0, 0, .1);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent,var(--clr-accent));
    /* backdrop-filter: blur(5px); */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    .swiper-slide {
        width: 60%;
    }
}

.swiper-slide::before {
    content: "";
    background-size: cover;
    position: absolute;
    opacity: 80%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 250ms linear;
}

.swiper-slide-1::before {
    background-image: url(../portfolio/portfolio-01.png);
}
.swiper-slide-2::before {
    background-image: url(../portfolio/portfolio-02.png);
}
.swiper-slide-3::before {
    background-image: url(../portfolio/portfolio-03.png);
}
.swiper-slide-4::before {
    background-image: url(../portfolio/portfolio-04.png);
}

.swiper-slide:hover::before {
    opacity: 20%;
}

.swiper-slide-active::before {
    opacity: 20%;
}

.swiper-slide:hover .portfolio__content{
    transform: translateY(0%);
    opacity: 1;
}

.swiper-slide-active .portfolio__content {
    transform: translateY(0%);
    opacity: 1;
}

.portfolio__content {
    padding: 2em;
    text-align: center;
    transform: translateY(40%);
    opacity: 0;
    transition:
        transform 600ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__number {
    position: absolute;
    top: 0em;
    right: 0.2em;
    font-size: 8em;
    color: rgba(255, 255, 255, .1);
    pointer-events: none;
}

.portfolio__content a {
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    text-decoration: none;
    padding: .5em 1em;
    background: #fff;
    border-radius: 1em;
    box-shadow: var(--bs);
}

.portfolio__content a:hover {
    background: var(--clr-accent);
}

/* TODO: Edit focus effects */
/* TODO: Apply blur effect */
.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}


/* Contact */
.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1) ), url(../img/cube.jpg);
    /* background-image:  */
    background-position: center;
    background-size: cover;
    background-blend-mode: color-burn;

}

/* .contact-me::before {
    content: '';
    position: absolute;
    width: 45vh;
    height: 45vh;
    background: linear-gradient(#ffeb3b, #e91e63);
    border-radius: 50%;
    transform: translate(-90%, -45%);
}

.contact-me::after {
    content: '';
    position: absolute;
    width: 35vh;
    height: 35vh;
    background: linear-gradient(#2196f3, #83d8ff);
    border-radius: 50%;
    transform: translate(100%, 40%);
} */

.contact__form {
    position: relative;
    z-index: 22;
    width: 100%;
    max-width: 1000px;
    padding: 2em;
    background: rgba(0,0,0,.1);
    box-shadow: var(--bs);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-radius: 1em;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.contact__form::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.04);
    pointer-events: none;
    transform: skewX(-10deg);
}

.section__title--contact {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

.contact__row {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 1em;
}

.contact__row .contact__col {
    position: relative;
    width: 100%;
    padding: 0 0.5em;
    margin: 1.2em 0 1em;
}

.contact__inputBox {
    position: relative;
    width: 100%;
    height: 2em;
}

.contact__textarea {
    position: relative;
    width: 100%;
    height: 6em;
}

.contact__inputBox input,
.contact__inputBox textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    z-index: 1;
    color: #000;
    padding: .4em;
}

.contact__inputBox textarea {
    resize: none;
}

.contact__text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 2em;
    display: block;
    pointer-events: none;
    transition: 0.5s;
}

.contact__inputBox input:focus + .contact__text,
.contact__inputBox input:valid + .contact__text,
.contact__inputBox textArea:focus + .contact__text,
.contact__inputBox textArea:valid + .contact__text {
    top: -2em;
    left: -.2em;
}

.contact__line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.contact__inputBox input:focus ~ .contact__line,
.contact__inputBox input:valid ~ .contact__line,
.contact__inputBox textarea:focus ~ .contact__line,
.contact__inputBox textarea:valid ~ .contact__line {
    height: 100%;
}

.contact__submit {
    border: none;
    outline: none;
    line-height: 1.5em;
}






/* Footer */

.footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 0 0 2em;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    color: var(--clr-accent);
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: .5em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 0.5em;
}

.social-list__link {
    padding: 0.5em;
}